@import "_variables.scss";



header {
    .navbar-custom .navbar-toggler-icon {
        background-image: url("../../assets/img/icons/menu-togler.svg");
    }

    .navbar {
        background-color: $primary;
    }

    .nav-item {
        text-align: center;

    }

    .navbar-brand {
        height: 100px;
        margin: 10px 40px;

        img {
            height: 100%;
        }
    }
    .navbar-light .navbar-nav .nav-link {
        &.active {
            color: $secondary;
        }
        color: $light;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: $secondary;
    }

}



footer {
    background-color: $primary;
    .container {
        padding-top: 10px ;
        padding-bottom: 40px ;
        div {
            ul {
                li {
                    a {
                        &:hover {
                            color:$secondary;
                        }
                    }
                }
            }
            a {
                color: $light;
                &:hover {
                    color:$secondary;
                }
                i {
                    &:hover {
                        color: $secondary;
                    }
                   
                }
            }
        }
    }
    * {
        color: $light;
    
    }

}

