@import "_variables.scss";

header {
    .navbar-custom .navbar-toggler-icon {
        background-image: url("../../assets/img/icons/menu-togler.svg");
    }

    .navbar-brand {
        margin: 10px;
    }

    .nav-item {
        text-align: center;

    }


}

.title {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    padding        : 0px;


    .title_decoration {
        background-image   : url("../../assets/img/icons/decoration.svg");
        background-repeat  : no-repeat;
        background-position: center;
        background-size    : contain;
        height             : 50px;
        width              : 100%;

    }
}


.container {

    .row {
        margin: 40px 0px;

    }
}


//Tabs color
.nav-pills .nav-link,
.nav-pills .show>.nav-link span {
    color: $light;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link span {
    color: $secondary;
}



.nav-pills-custom {
    height: 80px;
}



button.nav-link {
    & i {
        background-repeat: no-repeat;
        background-size  : 100%;
        width            : 30px;
        height           : 30px;
        display          : block;
    }

    .interior-icon {
            
    }

    .exterior-icon {

       
    }


    .commercial-icon {


    }


    .multi-family-icon {

        
    }

}