@import "_variables.scss";

header {
    .navbar-custom .navbar-toggler-icon {
        background-image: url("../../assets/img/icons/menu-togler.svg");
    }

    .navbar-brand {
        margin: 10px;
    }

    .nav-item {
        text-align: center;

    }
}


.title {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    padding        : 0px;


    .title_decoration {
        background-image   : url("../../assets/img/icons/decoration.svg");
        background-repeat  : no-repeat;
        background-position: center;
        background-size    : contain;
        height             : 50px;
        width              : 100%;

    }
}

