@import "_variables.scss";

body {
    .container {
            .row {
                .col-12.service {
                    margin: 30px 0px;
                    .card {
                        height: 100%;
                        .card-body {

                            display: flex;
                            flex-direction: column;
                        a {
                            background-color: $primary;
                            border-color: $primary;
                            margin-top: auto;
                            align-self: flex-start;
                            
                            &:hover {
                                
                                border-color: $secondary;
    
                            background-color: $secondary;
    
                                
                            }
                        }
                    }
                    }
                    


                }
            }
    }
}