@font-face {
  font-family: mainFont;
  src: url(../fonts/Caudex/Caudex-Regular.ttf);
}
@font-face {
  font-family: Bilbo;
  src: url(../fonts/Bilbo/Bilbo-Regular.ttf);
}
body {
  --main-bg-color:700px;
}
body .background {
  position: absolute;
  background-image: url("../img/main_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: var(--main-bg-color);
  z-index: -1;
}
body > .container.container-fluid > .row:first-child {
  height: var(--main-bg-color);
}
body .form-row {
  display: flex;
  justify-content: center;
}
body .form-row input {
  height: 55px;
}
body .form-row button {
  height: 45px;
}
@media only screen and (max-width: 700px) {
  body {
    --main-bg-color: 700px;
  }
}
@media only screen and (max-width: 500px) {
  body {
    --main-bg-color: 700px;
  }
}
body .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 20px;
}
body .title h1 {
  font-weight: normal;
}
body .title .title_decoration {
  background-image: url("../../assets/img/icons/decoration.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50px;
  width: 95%;
}
body .title .title-quote {
  color: #FFFBF6;
  padding: 20px 10px;
  text-align: center;
}
body .row.services .col {
  display: flex;
  flex-direction: column;
}
body .row.services .col .nav {
  width: 100%;
  background-color: #222222;
  display: flex;
}
body .row.services .col .nav .nav-item {
  width: 25%;
  height: 100%;
}
body .row.services .col .nav .nav-item .nav-link {
  color: #FFFBF6;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
body .row.services .col .nav .nav-item .nav-link span {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 15px;
}
body .row.services .col .nav .nav-item .nav-link.active {
  color: #FB9614;
  border: 2px solid #FB9614;
  border-radius: 0px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: solid;
}
body .row.services .col .nav .nav-item .nav-link i {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  display: block;
}
body .row.services .col .tab-content {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
body .row.services .col .tab-content .tab-pane {
  padding-top: 15px;
}
body .row.services .col .tab-content .tab-pane.active {
  display: flex;
  justify-content: center;
}
body .row.services .col .tab-content .tab-pane .description {
  padding: 0px 40px 20px 40px;
}
body .row.services .col .tab-content .tab-pane .carousel {
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  align-self: center;
}
body .row.licenses .col {
  display: flex;
  flex-direction: column;
}
body .row.licenses .col .nav {
  width: 100%;
  background-color: #222222;
  display: flex;
}
body .row.licenses .col .nav .nav-item {
  width: 25%;
  height: 100%;
}
body .row.licenses .col .nav .nav-item .nav-link {
  color: #FFFBF6;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
body .row.licenses .col .nav .nav-item .nav-link span {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 15px;
}
body .row.licenses .col .nav .nav-item .nav-link.active {
  color: #FB9614;
  border: 2px solid #FB9614;
  border-radius: 0px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: solid;
}
body .row.licenses .col .nav .nav-item .nav-link i {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  display: block;
}
body .row.licenses .col .tab-content {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
body .row.licenses .col .tab-content .tab-pane {
  padding-top: 15px;
}
body .row.licenses .col .tab-content .tab-pane.active {
  display: flex;
  flex-direction: column;
}
body .row.licenses .col .tab-content .tab-pane .description {
  padding: 0px 40px 20px 40px;
}
body .row.licenses .col .tab-content .tab-pane .carousel {
  width: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
}
body .licenses .col .my-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #222222;
  color: #FFFBF6;
}
body .licenses .col .my-card-header * {
  margin: 0 10px;
}
body .licenses .col .my-card-header i {
  width: 40px;
  height: 40px;
  color: red;
}
body .licenses .col .my-card-header span {
  font-size: 1.25rem;
}
body .licenses .col .my-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
body .licenses .col .my-card-body .image-container img {
  width: 100%;
}
body .licenses .license-icon {
  background-image: url("../img/icons/licese.svg");
}
body .licenses .active .license-icon {
  background-image: url("../img/icons/licese-yelow.svg");
}

/*# sourceMappingURL=home.css.map */
