@font-face {
  font-family: mainFont;
  src: url(../fonts/Caudex/Caudex-Regular.ttf);
}
@font-face {
  font-family: Bilbo;
  src: url(../fonts/Bilbo/Bilbo-Regular.ttf);
}
body .container > .row:not(.row-1) {
  margin-top: 40px;
}
body .container .row.row-1 {
  height: 100%;
  min-height: 750px;
  max-height: 1200px;
}
body .container .row.row-1 .background {
  position: absolute;
  left: 0px;
  background-image: url("../img/main_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 750px;
  max-height: 1200px;
  width: 100%;
  z-index: -1;
}
body .container .row.row-1 .col {
  height: 100%;
}
body .container .row.row-1 .col .row .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 20px;
}
body .container .row.row-1 .col .row .title h1 {
  font-weight: normal;
}
body .container .row.row-1 .col .row .title .title_decoration {
  background-image: url("../../assets/img/icons/decoration.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50px;
  width: 95%;
}
body .container .row.row-1 .col .row .title .title-quote {
  color: #ffffff;
  padding: 20px 10px;
  text-align: center;
}
body .container .row.row-1 .col .row.form-row {
  display: flex;
  justify-content: center;
}
body .container .row.row-1 .col .row.form-row input {
  height: 55px;
}
body .container .row.row-1 .col .row.form-row button {
  height: 45px;
}
body .container .row.about .col .content {
  padding: 20px;
  border: 1px solid #FB9614;
}
body .container .row.services .col {
  display: flex;
  flex-direction: column;
}
body .container .row.services .col .nav {
  width: 100%;
  background-color: #222222;
  display: flex;
}
body .container .row.services .col .nav .nav-item {
  width: 25%;
  height: 100%;
}
body .container .row.services .col .nav .nav-item button.nav-link {
  color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  align-items: center;
}
@media only screen and (min-width: 840px) {
  body .container .row.services .col .nav .nav-item button.nav-link {
    flex-direction: row;
    justify-content: space-around;
  }
  body .container .row.services .col .nav .nav-item button.nav-link span {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 15px;
    font-size: 1.25rem;
  }
}
body .container .row.services .col .nav .nav-item button.nav-link span {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 15px;
}
body .container .row.services .col .nav .nav-item button.nav-link.active {
  color: #FB9614;
  border: 2px solid #FB9614;
  border-radius: 0px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: solid;
}
body .container .row.services .col .nav .nav-item button.nav-link i {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  display: block;
}
body .container .row.services .col .tab-content {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
body .container .row.services .col .tab-content .tab-pane {
  padding-top: 15px;
}
body .container .row.services .col .tab-content .tab-pane.active {
  display: flex;
}
body .container .row.services .col .tab-content .tab-pane .description {
  padding: 0px 40px 20px 40px;
  width: 100%;
}
body .container .row.services .col .tab-content .tab-pane .carousel {
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 40px;
  align-self: center;
}
body .container .row.licenses .license-icon {
  background-image: url("../img/icons/licese.svg");
}
body .container .row.licenses .active .license-icon {
  background-image: url("../img/icons/licese-yelow.svg");
}
body .container .row.licenses .col {
  display: flex;
  flex-direction: column;
}
body .container .row.licenses .col .my-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #222222;
  color: #ffffff;
}
body .container .row.licenses .col .my-card-header * {
  margin: 0 10px;
}
body .container .row.licenses .col .my-card-header i {
  width: 40px;
  height: 40px;
  color: red;
}
body .container .row.licenses .col .my-card-header span {
  font-size: 1.25rem;
}
body .container .row.licenses .col .my-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
body .container .row.licenses .col .my-card-body .image-container img {
  width: 100%;
}
body .container .row.licenses .col .nav {
  width: 100%;
  background-color: #222222;
  display: flex;
}
body .container .row.licenses .col .nav .nav-item {
  width: 25%;
  height: 100%;
}
body .container .row.licenses .col .nav .nav-item .nav-link {
  color: #ffffff;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
body .container .row.licenses .col .nav .nav-item .nav-link span {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 15px;
}
body .container .row.licenses .col .nav .nav-item .nav-link.active {
  color: #FB9614;
  border: 2px solid #FB9614;
  border-radius: 0px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: solid;
}
body .container .row.licenses .col .nav .nav-item .nav-link i {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  display: block;
}
body .container .row.licenses .col .tab-content {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
body .container .row.licenses .col .tab-content .tab-pane {
  padding-top: 15px;
}
body .container .row.licenses .col .tab-content .tab-pane.active {
  display: flex;
  flex-direction: column;
}
body .container .row.licenses .col .tab-content .tab-pane .description {
  padding: 0px 40px 20px 40px;
}
body .container .row.licenses .col .tab-content .tab-pane .carousel {
  width: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
}
body .container .row.reviews .col .reviews-carousel .carousel-inner .carousel-item .item-container {
  display: flex;
}
@media only screen and (max-width: 600px) {
  body .container .row.reviews .col .reviews-carousel .carousel-inner .carousel-item .item-container {
    flex-direction: column;
  }
}
body .container .row.reviews .col .reviews-carousel .carousel-inner .carousel-item .item-container .review-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid #FB9614;
  margin: 10px;
  padding: 10px;
}
body .container .row.reviews .col .reviews-carousel .carousel-inner .carousel-item .item-container .review-container .review-header {
  display: flex;
}
body .container .row.reviews .col .reviews-carousel .carousel-inner .carousel-item .item-container .review-container .review-header img {
  border-radius: 50%;
  margin: 15px;
  width: auto;
  max-width: 90px;
  height: auto;
  max-height: 90px;
}
body .container .row.reviews .col .reviews-carousel .carousel-inner .carousel-item .item-container .review-container .review-header div {
  padding-top: 20px;
}
body .container .row.reviews .col .reviews-carousel .carousel-inner .carousel-item .item-container .review-container .review-header div .name {
  font-weight: bold;
}
body .container .row.reviews .col .reviews-carousel .carousel-inner .carousel-item .item-container .review-container .review-header div .stars {
  color: #FB9614;
  font-size: 2rem;
}
body .container .row.reviews .col .reviews-carousel .carousel-inner .carousel-item .item-container .review-container .review-body {
  padding-left: 10px;
}
body .container .row.reviews .col .reviews-carousel .carousel-indicators {
  position: relative;
  margin: 0;
}
body .container .row.reviews .col .reviews-carousel .carousel-indicators [data-bs-target] {
  background-color: #FB9614;
}
body .container .row.map-section {
  margin-top: 40px;
}
body .container .row.map-section .col {
  display: flex;
  flex-direction: column;
}
body .container .row.map-section .col #google-maps-container {
  height: 100%;
  width: 100%;
}
body .container .row.map-section .col #google-maps-container iframe {
  width: 100%;
}

/*# sourceMappingURL=home.css.map */
